

body {
    background-image: url("/images/background_img2.jpeg");
    background-position: cover; 
    background-attachment: fixed ; 
    background-repeat: no-repeat; 
}
.pokemon-card {
    background-image: url("/blob.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 50px;
    margin-bottom: 20px;
    margin-left: 90px;
    width: 15rem;
    transition: transform 0.8s;
    font-family: 'Oswald', sans-serif;
}

.pokemon-card:hover {
    transition: transform 0.8s;
    transform: rotateY(180deg);    
}

.title {
    background-color: whitesmoke;
    opacity: 0.7;
    font-family: 'Oswald', sans-serif;   
}

.pokeball {
    background-image: url("https://c.tenor.com/Hg2Mb_mQdhYAAAAi/pokemon-pokeball.gif");
    background-repeat: no-repeat;
    background-position: center;
}

img {
    margin-left: 35% ;   
}

h2 {
    color: crimson;
    padding: 20px;
    text-align: center;
}

