

body {
    background-image: url("/images/background_img2.jpeg");
    background-position: cover; 
    background-attachment: fixed ; 
    background-repeat: no-repeat; 
}
.pokemon-card {
    background-image: url("/blob.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 50px;
    margin-bottom: 20px;
    margin-left: 90px;
    width: 15rem;
    transition: transform 0.8s;
    font-family: 'Oswald', sans-serif;
}

.pokemon-card:hover {
    transition: transform 0.8s;
    transform: rotateY(180deg);
    
}

.title {
    background-color: whitesmoke;
    opacity: 0.5;
    font-family: 'Oswald', sans-serif;
}

h1 {
    color: darkblue;
    padding: 20px;
    text-align: center;
}

