body {
    background-image: url("/images/background_img2.jpeg");
    background-position: cover; 
    background-attachment: fixed ; 
    background-repeat: no-repeat; 
}

.title {
    background-color: cornflowerblue;
    border-radius: 81px;
    border-radius: 60px;
    border-radius: 60px;            
    opacity: 0.8;
    font-family: 'Oswald', sans-serif;   
}

.pokeball {
    background-image: url("https://c.tenor.com/Hg2Mb_mQdhYAAAAi/pokemon-pokeball.gif");
    background-repeat: no-repeat;
    background-position: center;
}

img {
    margin-left: 35% ;   
}

h2 {
    color: crimson;
    padding: 20px;
    text-align: center;
}

.pokemon-card {
    padding-top: 50px;
    margin-bottom: 20px;
    margin-left: 60px;
    width: 15rem;
    font-family: 'Oswald', sans-serif;
    background-image: url("/images/pokedex.jpeg") ; 
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;             
}

.pokemon-card:hover {
    transition: transform 0.8s;
    transform: scale(1.2);
}




